
security:
  jwt:
    token:
      secret-key: ${JWT_SECRET}

server:
  port: 8080
  error:
    include-stacktrace: never
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true


# swagger-ui custom path
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    enabled: true